<h1>Sign In!</h1>
<div class="form-container">
        <form action="/homepage" method="post">
        <div class="form-group">
        <label for="username">Username: </label>
        <br>
        <input type="text" id="user[username]" name="user[username]" class="form-control">
        <br>
        <div class="row g-3 align-items-center">
  <div class="col-auto">
    <label for="inputPassword6" class="col-form-label">Password: </label>
  </div>
  <div class="col-auto">
    <input type="password" id="inputPassword6" name="user[password]" class="form-control" aria-describedby="passwordHelpInline">
  </div>
  <div class="col-auto">
    <span id="passwordHelpInline" class="form-text">
      Must be 8-20 characters long.
    </span>
  </div>
</div>
        </div>
        <input type="submit" id="submit">
        </form>
        <a href="/signup">Sign Up</a>
    </div>