<h1>Sign In!</h1>
<form action="/signin" method="post">
  <div class="mb-3">
    <label for="Username" class="form-label">Username</label>
    <input type="text" name="user[username]" class="form-control" id="user[username]" aria-describedby="usernameHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="user[password]" class="form-control" id="user[password]">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  <div class="mb-3 form-check">
        <a href="/signup">Sign Up</a>
  </div>