<div class="signin">
      <h3>Sign In!</h3>
      <ul>
        <li><form action="/homepage" method="post">
        <label for="username">Username: </label>
        <br>
        <input type="text" id="username" name="username">
        <br>
        <label for="username">Password: </label>
        <br>
        <input type="password" id="password" name="password">
        <input type="submit" id="submit">
        </form>
        <a href="/signup">Sign Up</a>
        </li>
      </ul>
    </div>