<div class="signin">
      <h3>Sign In!</h3>
      <ul>
        <li><form action="/bills" method="post">
        <label for="username">Username: </label>
        <br>
        <input type="text" id="user[username]" name="user[username]">
        <br>
        <label for="username">Password: </label>
        <br>
        <input type="text" id="user[password]" name="user[password]">
        <input type="submit" id="submit">
        </form>
        <a href="/signup">Sign Up</a>
        </li>
      </ul>
    </div>