<form class="was-validated" action="bill/new" method="post">
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Bill name</label>
    <input type="text" class="form-control" id="validationCustom01" name="bill[name]" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <br>

   <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <input type="text" class="form-control" name="bill[amount]" aria-label="Dollar amount (with dot and two decimal places)">
   </div>

  <div class="mb-3">
    <select class="form-select" required aria-label="select example">
      <option value="">Open this select menu</option>
      <option value="1">Entertainment</option>
      <option value="2">Housing</option>
      <option value="3">Transportation</option>
      <option value="4">Utilities</option>
    </select>
    <div class="invalid-feedback">Example invalid select feedback</div>
  </div>

  <div class="form-check mb-3">
    <input type="checkbox" class="form-check-input" name="bill[recurring]" id="validationFormCheck1" required>
    <label class="form-check-label" for="validationFormCheck1">Recurring?</label>
    <div class="invalid-feedback">Example invalid feedback text</div>
  </div>


  <div class="mb-3">
    <button class="btn btn-primary" type="submit" disabled>Submit</button>
  </div>
</form>