<div class="front_page_container">
    <h1>Welcome to the Bill Organizer!</h1>
      <p>A convenient and easy place to keep track of your bills!</p>
  <div class="col-md-8 col-md-offset-2">
  </div>
</div>
