<div class="front_page_container">
    <h1>Welcome to the Bill Organizer!</h1>
  <header><img src="images/calendar.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">

    <div class="content">
      <p>A convenient and easy place to keep track of your bills!</p>
    </div> 
  </div>
  <a href="/signup">Sign Up</a>
  <a href="/signin">Sign In</a>
</div>
